.qr-reader {
    width: 800px;
    height: 60vh;
    margin: 0 auto;
    position: relative;
  }
  
  .qr-reader video {
    margin-top: 20px;
    width: 800px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .qr-reader .qr-box {
    width: 100% !important;
    left: 0 !important;
  }
  
  .qr-reader .qr-frame {
    position: absolute;
    fill: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* Media Queries for mobile screens */

  @media (max-width: 835px) {
    .qr-reader video {
      margin: auto;
      margin-top: 20px;
      width: 90%;
      height: 55vh;
      object-fit: cover;
      border-radius: 10px;
    }
    .qr-reader{
      width: 90%;
      height:55vh
    }
  }